@import '~antd/dist/antd.css';

.title {
    margin-bottom: 0;
    margin-top: 5;
}

.purpose {
    display: flex;
    justify-content: center;
    text-align: center;
    word-break: break-all;
    color: #8c8c8c;
    margin-top: -10px;
}

.progressBar {
    width: 100%;
    padding-bottom: 20px;
    margin-left: 4px;
}

.form {
    margin: 0px 0px -8px 0px;
    padding: 0px 0px 0px 0px;
}

.formItem {
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%
}

.formButton {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%
}

.footer {
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding-bottom: 0px;
}

.footerText {
    /* display: inline; */
    margin-top: 8px;
    margin-bottom: 2px;
}

.footerButtonGroup {
    display: flex;
    justify-content: space-between;
    margin: 0px -8px 0px -8px;
    padding-bottom: 0px;
}

.footerButton {
    margin-top: 7px;
    margin-bottom: 2px;
}